
$font-main-reg: 'Stag-Regular', sans-serif
$font-main-med: 'Stag-Medium', sans-serif
$font-main-sbold: 'Stag-Semibold', sans-serif
$font-main-bold: 'Stag-Bold', sans-serif


$content-width: 940px

$fs-main: 17px
$fs-submain: 15px

$clr-dark: #454545
$clr-light: #b6b6b6
