// @font-face 
//   font-family: 'Stag-Regular'
//   src:  url('../fonts/stag-book-cufonfonts/Stag-Book.OTF')
//   font-weight: normal
//   font-style: normal

// @font-face 
// 	font-family: 'Stag-Medium'
//   src:  url('../fonts/stag-book-cufonfonts/Stag-Medium.OTF')
//   font-weight: normal
//   font-style: normal

// @font-face 
// 	font-family: 'Stag-SemiBold'
//   src:  url('../fonts/stag-book-cufonfonts/Stag-SemiBold.OTF')
//   font-weight: normal
//   font-style: normal

@font-face 
	// font-family: 'Stag-Bold'
  // src:  url('../fonts/stag-book-cufonfonts/Stag-Bold.OTF')
  // font-weight: normal
  // font-style: normal


@font-face 
  font-family: 'Stag-Regular'
  font-style: normal
  font-weight: 400
  src: local('Stag Regular'), local('Stag-Regular'), url(../fonts/Stag-Book.OTF) format('opentype')

@font-face 
  font-family: 'Stag-Medium'
  font-style: normal
  font-weight: 400
  src: local('Stag Medium'), local('Stag-Medium'), url(../fonts/Stag-Medium.OTF) format('opentype')

@font-face 
  font-family: 'Stag-SemiBold'
  font-style: normal
  font-weight: 400
  src: local('Stag SemiBold'), local('Stag-SemiBold'), url(../fonts/Stag-SemiBold.OTF) format('opentype')

@font-face 
  font-family: 'Stag-Bold'
  font-style: normal
  font-weight: 400
  src: local('Stag Bold'), local('Stag-Bold'), url(../fonts/Stag-Bold.OTF) format('opentype')
